body {
    text-align: center;
}
#wallet {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex {
    display: flex;
}

@media only screen and (max-width: 763px){
    #flex{
        display: block;
        margin-left: 0px;
    }
    hr{
        display: none;
    }
    .budget{
        height: auto;
    }
    #expenseName, #expenseAmount{
        width: 250px;
    }
}
h6 {
    text-align: center;
}
.addedExpenses {
    text-align: center;
}
#addedExpenses {
    text-align: center;
    display: inline;

}
.center {
    margin-left: auto;
    margin-right: auto;
  }
#news {
    
    display: flex;
    /* flex-direction: column; */
    width: 75%;
    flex-wrap: wrap;
    margin: 0 auto;

}

.tile .is-parent {
    flex-basis: 40%;
}

.fin-advice {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 30px;
   font-family: 'Prata', serif;;
}
#donutchart {
display: flex;
justify-content: center;
margin-left: 60vh;

}