html{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(bank.jpg);
    background-position: center;
    background-size: cover;
}
body {
    text-align: center;  
}
#wallet {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flex {
    display: flex;
}

@media only screen and (max-width: 763px){
    #flex{
        display: block;
        margin-left: 0px;
    }
    hr{
        display: none;
    }
    .budget{
        height: auto;
    }
    #expenseName, #expenseAmount{
        width: 250px;
    }
}
h6 {
    text-align: center;
}
.addedExpenses {
    text-align: center;
}
#addedExpenses {
    text-align: center;
    display: inline;

}
.center {
    margin-left: auto;
    margin-right: auto;
}


